@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Lato, sans-serif;
    
  }

  *, *::before, *::after {
    box-sizing: inherit;
      
  }

body {
    margin: 0;
    
}


.logo {
    width: 30%;
    
}

.text {
    color: #20E2C1;
    position: absolute;
    bottom: 20em;
    left: 0;
    padding: 1em;
    margin: 0;
    width: 100%;
}

.texttwo {
    color: darkgrey;
    position: absolute;
    bottom: 1em;
    left: 0;
    padding: 3em;
    margin: 0;
    width: 100%;
}

texttour {
    position: absolute;
    bottom: 20em;
    
    
}
    
.button {
    position:absolute;
    bottom: 25em;
    left: 0;
    padding: 4em;
    margin: 0;
    width: 100%;
}

buttontwo {
    position:absolute;
    bottom: 50em;
    
}


fieldset {
    border: 0;
    
}
    
h1 {
	text-align: center;
    color: #20E2C1;
}

h2 {
    color: #20E2C1;
       
}

.box {
    width: 100%;
    margin: 0;
}


.masthead {
    background-color: #20E2C1;

}

.features {
    color: #20E2C1;
    background-color: white;
    
}

nav {
    background-color: #20E2C1;

}

nav ol {
	list-style: none;

}

nav a {
    background-color: #20E2C1; 
	text-decoration: none;
    color: white;
	display: block;
}

p {
    color: darkgrey;   
    
}

.textone {
    color: darkgrey; 
}

.billboard {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
        
}

label {
    color: darkgrey;
    
}

input {
    border-bottom-color: transparent;
    
}

.paragraph {
    position: absolute;
    top: 230px;
    
}

footer {
    background-color: #F2F2F2;
    
}

@media only screen and (min-width:30em) {
    
    .text {
    bottom: 18em;
}
    .button {
    bottom: 18em;

}
}

@media only screen and (min-width:40em) {
    
    .text {
    bottom: 17em;
}
    .button {
    bottom: 17em;

}
}



    







